[submodule "third_party/libyal/libbfio"]
	path = third_party/libyal/libbfio
	url = https://github.com/libyal/libbfio
[submodule "third_party/libyal/libcdata"]
	path = third_party/libyal/libcdata
	url = https://github.com/libyal/libcdata
[submodule "third_party/libyal/libcerror"]
	path = third_party/libyal/libcerror
	url = https://github.com/libyal/libcerror
[submodule "third_party/libyal/libcfile"]
	path = third_party/libyal/libcfile
	url = https://github.com/libyal/libcfile
[submodule "third_party/libyal/libclocale"]
	path = third_party/libyal/libclocale
	url = https://github.com/libyal/libclocale
[submodule "third_party/libyal/libcnotify"]
	path = third_party/libyal/libcnotify
	url = https://github.com/libyal/libcnotify
[submodule "third_party/libyal/libcpath"]
	path = third_party/libyal/libcpath
	url = https://github.com/libyal/libcpath
[submodule "third_party/libyal/libcsplit"]
	path = third_party/libyal/libcsplit
	url = https://github.com/libyal/libcsplit
[submodule "third_party/libyal/libcthreads"]
	path = third_party/libyal/libcthreads
	url = https://github.com/libyal/libcthreads
[submodule "third_party/libyal/libfcache"]
	path = third_party/libyal/libfcache
	url = https://github.com/libyal/libfcache
[submodule "third_party/libyal/libfdata"]
	path = third_party/libyal/libfdata
	url = https://github.com/libyal/libfdata
[submodule "third_party/libyal/libfdatetime"]
	path = third_party/libyal/libfdatetime
	url = https://github.com/libyal/libfdatetime
[submodule "third_party/libyal/libfguid"]
	path = third_party/libyal/libfguid
	url = https://github.com/libyal/libfguid
[submodule "third_party/libyal/libfsntfs"]
	path = third_party/libyal/libfsntfs
	url = https://github.com/libyal/libfsntfs
[submodule "third_party/libyal/libfwnt"]
	path = third_party/libyal/libfwnt
	url = https://github.com/libyal/libfwnt
[submodule "third_party/libyal/libuna"]
	path = third_party/libyal/libuna
	url = https://github.com/libyal/libuna
